@use 'src/style/sass-utils/mixins';
@use 'src/style/sass-utils/vars';

.portfolio__container
{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.2rem;
    @include mixins.media(vars.$bp-md)
    {
        grid-template-columns: 1fr 1fr;
        gap: 1.6rem
    }
    @include mixins.media(vars.$bp-xl)
    {
        grid-template-columns: repeat(3, 1fr);
        gap: 2.4rem;
    }
}

.portfolio__item {
    position: relative;
    background-color: vars.$color-bg-dark;
    padding: 1.2rem;
    border-radius: 3px 3px 0 0;

    &::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        border-left: vars.$border-width-bar solid vars.$color-secondary;
        border-top: vars.$border-width-bar solid vars.$color-secondary;
        height: 40px;
        width: 40px;
        transition: vars.$transition;
    }
    &::after {
        content: "";
        position: absolute;
        bottom: 0px;
        right: 0px;
        border-bottom: vars.$border-width-bar solid vars.$color-secondary;
        border-right: vars.$border-width-bar solid vars.$color-secondary;
        height: 40px;
        width: 40px;
        transition: vars.$transition;
    }
    &:hover:before {
        border-color: vars.$color-primary;
        margin: -5px;
    }
    &:hover:after {
        border-color: vars.$color-primary;
        margin: -5px;
    }
}



.portfolio__item-image {
    border-radius: 3px;
    overflow: hidden;
}

.portfolio__item h3 {
    margin: 1.2rem 0 2rem;
    font-size: 17px;
    min-height: 90px; // temporary solution
    @include mixins.media(vars.$bp-sm) {
        font-size: 18px;
    }
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: flex-start;
}

.disabled-link {
    pointer-events: none;
}